extends layout

block content

  .container
    br
    h1(style='text-align:center;') Audition to be Berkeley's Star 2015!
    br
    .row
      .col-lg-3
      .col-lg-6
        ul.list-group
          li.list-group-item
            .media-body
              h4 
                b Part 1
              p Upload two 60-90 second video of you singing @ 
                a(href='http://indi.com/berkeleystar2015' target='_blank') http://indi.com/berkeleystar2015. 
                | Create an account through facebook or email.
          li.list-group-item
            .media-body
              h4 
                b Part 2
              p To be eligible you must also email berkeleystarofficial@gmail.com your name,
                | two audition videos, year, major, club/organization involvement and a one-paragraph
                | description of why you are auditioning in an attached word document on the email.
          li.list-group-item
            .media-body
              h4 
                b Part 3
              p Online auditions must be uploaded to 
                a(href='http://indi.com/berkeleystar2015' target='_blank') indi.com/berkeleystar2015 
                | by Wednesday, October 8th.
                | The producers will invite the top auditions for a live audition on October 10, 2015
                | via email. There will be 8 finalists chosen by judges to participate in the December
                | 5th Berkeley’s Star live show. However, two other singers will still qualify for the
                | live show as explained in Part 4.
          li.list-group-item
            .media-body
              h4 
                b Part 4
              h5
                b New This Year
              p People’s choice online voting will continue until October 21st. The top 2 People’s
                | choice singing contestants will join the judges' top 8 finalists to win a spot in
                | performing on December 5th at the Berkeley’s Star live show.
      .col-lg-3