extends layout

block content

  .container
    br
    h1(style='text-align:center;') Audition to be Berkeley's Star 2015!
    br
    .row
      .col-lg-3
      .col-lg-6
        ul.list-group
          li.list-group-item
            .media-body
              h4 
                b Part 1
              p Send two 60-90 second private YouTube videos of you singing to berkeleystarofficial@gmail.com.
          li.list-group-item
            .media-body
              h4 
                b Part 2
              p Provide your Name, Year, Major, Club/Organization involvement and a one-paragraph description of why you are auditioning in an attached word document on the email.
          li.list-group-item
            .media-body
              h4 
                b Part 3
              p Online auditions must be sent in by Wednesday, September 30th. The top 30 video auditions will be invited to a live audition on October 4, 2015 via email.
      .col-lg-3