extends layout

block content

  .container
    br
    h1(style='text-align:center;') Audition to be Berkeley's Star 2016!
    br
    .row
      .col-lg-3
      .col-lg-6
        ul.list-group
          li.list-group-item
            .media-body
              h4 
                b Audition Information Coming August 2016
              p 
      .col-lg-3