doctype html
html
  head
    title Berkeley's Star
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/carousel.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='javascripts/berk-star.js')
  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Berkeley's Star
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Home
                li
                  a(href='#about') About
                li
                  a(href='#auditions') Auditions
                li
                  a(href='#philanthropy') Philanthropy
                li
                  a(href='#acts') Guest Artists
    //
       Carousel
          ================================================== 
    #myCarousel.carousel.slide(data-ride='carousel')
      //
         Indicators 
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
        li(data-target='#myCarousel', data-slide-to='3')
        li(data-target='#myCarousel', data-slide-to='4')
      .carousel-inner
        .item.active
          img(class='push-up', src='/images/berkeley_view.jpg', alt='First slide')
          .container
            .carousel-caption
              h1 Berkeley's Star
              p Berkeley's best singing competition
        .item
          img(class='push-up', src='/images/sean_kingston.jpg', alt='Second slide')
          .container
            .carousel-caption
              h1 Sean Kingston will be here.
              p And he can take ya there.
              p
                a.btn.btn-lg.btn-primary(href='#acts', role='button') Learn more
        .item
          img(id='roy_car', src='/images/oasis-of-the-seas.jpg', alt='Third slide')
          .container
            .carousel-caption
              h1 Great Prizes
              p First prize is a 7 day Royal Caribbean Cruise
        .item
          img(src='/images/zellerbach.jpg', alt='Fourth slide')
          .container
            .carousel-caption
              h1 Zellerbach Hall
              p UC Berkeley's premier performance venue
        .item
          img(id='boys_and_girls_img', src='/images/bg-logo-negative.jpg', alt='Fifth slide')
          .container
            .carousel-caption
              div(id='boys_and_girls_font')
                h1 
                  | Proceeds benefit
                  br
                  | Boys & Girls Clubs of Oakland
                p
                  a.btn.btn-lg.btn-primary(href='#philanthropy', role='button') Philanthropy
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
    //
       /.carousel 
    //
       Marketing messaging and featurettes
          ================================================== 
    //
       Wrap the rest of the page in another container to center all the content. 
    .container.marketing
      //
         Three columns of text below the carousel 
      .row
        .col-md-3
          img.img-rounded(src='/images/folded11.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 About
          p
            | Berkeley's Star is the biggest singing competition that Berkeley has to offer.
          p
            a.btn.btn-default(href='#about', role='button') View details »
        //
           /.col-lg-4 
        .col-md-3
          img.img-rounded(src='/images/video71.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Auditions
          p
            | We are accepting auditions in the form of video submissions. But hurry! Auditions close soon!
          p
            a.btn.btn-default(href='#auditions', role='button') View details »
        //
           /.col-lg-4 
        .col-md-3
          img.img-rounded(src='/images/bg_icon.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Boys & Girls Clubs
          p
            | As one of Phi Kappa Psi's semi-annual philanthropy events, all proceeds from the event will be donated to the
            | Boys & Girls Clubs of Oakland.
          p
            a.btn.btn-default(href='#philanthropy', role='button') View details »
        //
           /.col-lg-4 
        .col-md-3
          img.img-rounded(src='/images/striped6.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Great Music
          p
            | There will be several guest musical acts and judges including Sean Kingston.
          p
            a.btn.btn-default(href='#acts', role='button') View details »
        //
           /.col-lg-4 
      //
         /.row 
      //
         START THE FEATURETTES 
      hr.featurette-divider
      .row(id='about').featurette
        .col-md-6
          h2.featurette-heading
            | Berkeley's Star.
            br
            span.text-muted It'll blow your mind.
          br
          p.lead 
            | Phi Kappa Psi is honored to work alongside The Boys & Girls Clubs of Oakland
            | to raise money and awareness for a cause that so many people can connect to
            | around the UC Berkeley campus. The Boys & Girls Clubs is an amazing organization
            | that works endlessly to empower youth to be role models in their communities and
            | be limited by nothing. Working alongside The Boys & Girls Clubs of Oakland,
            | we have put on one of the most dynamic and interactive philanthropy events of the year. 
        .col-md-6
          img(id="inside-zellerbach").featurette-image.img-responsive(src='/images/zellerbach_inside.jpg', alt='Generic placeholder image')
      hr.featurette-divider
      .row(id='auditions').featurette
        .col-md-5
          img.featurette-image.img-responsive(src='/images/berkeleys-star-logo.jpg', alt='Generic placeholder image')
        .col-md-7
          h2.featurette-heading
            | Auditions.
            br
            span.text-muted Take the stage.
          br
          p.lead 
            | Are YOU ready for the biggest event of this school year? Have YOU ever wanted to sing
            | at one of Berkeley’s most premiere venues in front of a pumped up crowd? Well then,
            | you’re in luck! Here’s what you have to do: Send a 90 second audition tape to
            | bfreed@berkeley.edu by October 10th. Make sure to include your full name, email, and
            | phone number. If you get chosen to move onto the second round of auditions, we will
            | contact you by October 15th. Let your inner singer out and audition to be the first ever Berkeley's Star!
      hr.featurette-divider
      .row(id='philanthropy').featurette
        .col-md-7
          h2.featurette-heading
            | Boys & Girls Clubs
          br
          p.lead
            | WHY BOYS & GIRLS CLUBS?
            br
            | Boys & Girls Clubs are a safe place to learn and grow – all while having fun. It is
            | the place where great futures are started each and every day. In every community,
            | boys and girls are left to find their own recreation and companionship in the streets.
            | An increasing number of children are at home with no adult care or supervision.
            | Young people need to know that someone cares about them.
            br
            | Boys & Girls Clubs offer that and more. Club programs and services promote and
            | enhance the development of boys and girls by instilling a sense of competence,
            | usefulness, belonging and influence. 
        .col-md-5
          img.featurette-image.img-responsive(src='/images/bg_icon.jpg', alt='Generic placeholder image')
      hr.featurette-divider
      .row(id='acts').featurette
        .col-md-5
          img.featurette-image.img-responsive(src='/images/greek-theater-day.jpg', alt='Generic placeholder image')
        .col-md-7
          h2.featurette-heading
            | Great Guest Acts
          br
          p.lead
            | Talk about all the cool performers we have
      hr.featurette-divider
      //
         /END THE FEATURETTES 
      //
         FOOTER 
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © 2014 Company, Inc. ·
          a(href='#') Privacy
          | ·
          a(href='#') Terms
    //
       /.container 
    //
       Bootstrap core JavaScript
          ================================================== 
    //
       Placed at the end of the document so the pages load faster 
    script(src='/bootstrap/js/bootstrap.min.js')
