extends layout

block content
  #myCarousel.carousel.slide(data-ride='carousel', data-pause='hover')
    //
       Indicators 
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
      li(data-target='#myCarousel', data-slide-to='3')
      li(data-target='#myCarousel', data-slide-to='4')
    .carousel-inner
      .item.active
        img#top-11-with-brent(src='/images/top-11-with-brent.jpg', alt='First slide')
        .container
          .carousel-caption
            h1 Berkeley's Star
            p UC Berkeley’s Premier Singing Competition benefiting Boys and Girls Cubs of Oakland
      .item
        iframe#music-video(width="889", height="500", src="//www.youtube.com/embed/F0fGX_IAO1w", frameborder="0", allowfullscreen)
      .item
        img#grant-winning(src='/images/grant-singing.jpg', alt='Grant Winning')
        .container
          .carousel-caption(id='roy-car-cap')
            h1 Berkeley’s Star 2014 is Grant Genske
            p We raised $20,000 for the Boys and Girls Clubs of Oakland
      .item
        img(id='boys_and_girls_img', src='/images/edge-of-glory-bw.jpg', alt='Fifth slide')
        .container
          .carousel-caption
            h1 Are You Berkeley’s Star 2015?
            p Audition information coming soon!
      .item
        img(src='/images/zellerbach.jpg', alt='Fourth slide')
        .container
          .carousel-caption
            h1 Zellerbach Hall
            p UC Berkeley's premier performance venue
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right

  .container.marketing
    //
       Three columns of text below the carousel 
    .row
      .col-md-3
        img.img-rounded(src='/images/folded11.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
        h2 About
        p
          | Berkeley's Star will be held at Zellerbach Hall next Fall.
          | This is the biggest singing competition that Berkeley has to offer, so don't miss out!
        p
          a.btn.btn-default(href='/#about', role='button') View details »
      //
         /.col-lg-4 
      .col-md-3
        img.img-rounded(src='/images/ticket.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
        h2 Tickets
        p
          | More information about Berkeley's Star tickets will be available soon!
        p
          a.btn.btn-default(href='#', data-toggle='modal', data-target='#myModal', role='button') Tickets »
      //
         /.col-lg-4 
      .col-md-3
        img.img-rounded(src='/images/bg_clubs_oak.jpg', alt='Generic placeholder image', style='width: 230px; height: 140px;')
        h2 Philanthropy
        p
          | As one of Phi Kappa Psi's semi-annual philanthropy events, all proceeds from the event will be donated to the
          | Boys & Girls Clubs of Oakland.
        p
          a.btn.btn-default(href='/#philanthropy', role='button') View details »
      //
         /.col-lg-4 
      .col-md-3
        img.img-rounded(src='/images/striped6.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
        h2 Great Music
        p
          | There will be several guest musical acts and judges who will be announced soon!
        p
          a.btn.btn-default(href='/#acts', role='button') View details »
      //
         /.col-lg-4 
    //
       /.row 
    //
       START THE FEATURETTES 
    hr.featurette-divider#about
    .row.featurette
      .col-md-5
        img.featurette-image.img-responsive(src='/images/berkeleys-star-logo.jpg', alt='Generic placeholder image')
      .col-md-1
      .col-md-6
        h2.featurette-heading
          | Berkeley's Star.
          br
          span.text-muted It'll blow your mind.
        br
        p.lead 
          | Berkeley’s Star is the first and only singing competition held for
          | UC Berkeley Students in collaboration with the Boys & Girls Clubs of
          | Oakland.  This amazing event hosted by Phi Kappa Psi brings together
          | some of the most talented singers and rappers on campus, selected
          | through a series of exciting and comprehensive auditions, for a night
          | of truly electrifying performances.  The top individuals selected each
          | year compete at a Live Show, hosted at Zellerbach Hall, alongside guest
          | performances from our panel of judges and upcoming talent in the
          | entertainment industry.  Past performers and judges have included Lauren
          | Weintraub, Sam Watters, and Sean Kingston. At the end of the night the 
          | judges and the audience select the newest Berkeley’s Star.  In its first
          | year alone Berkeley’s Star not only hosted an event whose caliber has
          | never before been matched on campus, but Phi Kappa Psi also raised over
          | $20,000 in support of the Boys & Girls Clubs of Oakland. 
    hr.featurette-divider#philanthropy
    .row.featurette
      .col-md-5
        h2.featurette-heading
          | Boys & Girls Clubs
        br
        p.lead
          | WHY BOYS & GIRLS CLUBS?
          br
          | Boys & Girls Clubs are a safe place to learn and grow – all while having fun. It is
          | the place where great futures are started each and every day. In every community,
          | boys and girls are left to find their own recreation and companionship in the streets.
          | An increasing number of children are at home with no adult care or supervision.
          | Young people need to know that someone cares about them.
          | Boys & Girls Clubs offer that and more. Club programs and services promote and
          | enhance the development of boys and girls by instilling a sense of competence,
          | usefulness, belonging and influence. 
      .col-md-7
        img#bg-check.featurette-image.img-responsive(src='/images/bg-check.jpg', alt='Generic placeholder image')
    hr.featurette-divider#acts
    .row.featurette
      .col-md-12
        h2.featurette-heading
          | Great Special Guests
        br
        p.lead
          | Announcement Coming Soon!