doctype html
html
  head
    title Berkeley's Star
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/carousel.css', rel='stylesheet')
  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Berkeley's Star
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Home
                li
                  a(href='#about') About
                li
                  a(href='#auditions') Auditions
                li
                  a(href='#philanthropy') Philanthropy
                li
                  a(href='#acts') Guest Artists
    //
       Carousel
          ================================================== 
    #myCarousel.carousel.slide(data-ride='carousel')
      //
         Indicators 
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
        li(data-target='#myCarousel', data-slide-to='3')
        li(data-target='#myCarousel', data-slide-to='4')
      .carousel-inner
        .item.active
          img(src='/images/berkeley_view.jpg', alt='First slide')
          .container
            .carousel-caption
              h1 First Slide here.
              p Test.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
        .item
          img(src='/images/sean_kingston.jpg', alt='Second slide')
          .container
            .carousel-caption
              h1 Sean Kingston will be here.
              p And he could take ya there.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
        .item
          img(id='roy_car', src='/images/royal_car.jpg', alt='Third slide')
          .container
            .carousel-caption
              h1 The grand prize
              p Will be a free royal caribbean trip.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
        .item
          img(src='/images/greek.jpg', alt='Fourth slide')
          .container
            .carousel-caption
              h1 At the beautiful greek theater.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
        .item
          img(id='boys_and_girls_img', src='/images/boys-and-girls-club-logo.jpg', alt='Fifth slide')
          .container
            .carousel-caption
              div(id='boys_and_girls_font')
                h1 All Proceeds benefit the Boys and Girls Club of Oakland.
                p Phi Kappa Psi's semi-annual philanthropic event.
                p
                  a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
    //
       /.carousel 
    //
       Marketing messaging and featurettes
          ================================================== 
    //
       Wrap the rest of the page in another container to center all the content. 
    .container.marketing
      //
         Three columns of text below the carousel 
      .row
        .col-md-3
          img.img-rounded(src='/images/folded11.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 About
          p
            | Berkeley's Star is the biggest singing competition that Berkeley has to offer.
          p
            a.btn.btn-default(href='#about', role='button') View details »
        //
           /.col-lg-4 
        .col-md-3
          img.img-rounded(src='/images/video71.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Auditions
          p
            | We are accepting auditions in the form of video submissions. But hurry! Auditions close soon!
          p
            a.btn.btn-default(href='#auditions', role='button') View details »
        //
           /.col-lg-4 
        .col-md-3
          img.img-rounded(src='/images/bg_icon.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Boys and Girls Club
          p
            | As one of Phi Kappa Psi's semi-annual philanthropy events, all proceeds from the event will be donated to the
            Boys & Girls Clubs of Oakland
          p
            a.btn.btn-default(href='#philanthropy', role='button') View details »
        //
           /.col-lg-4 
        .col-md-3
          img.img-rounded(src='/images/striped6.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Great Music
          p
            | There will be several guest musical acts and judges including Sean Kingston.
          p
            a.btn.btn-default(href='#acts', role='button') View details »
        //
           /.col-lg-4 
      //
         /.row 
      //
         START THE FEATURETTES 
      hr.featurette-divider
      .row(id='about').featurette
        .col-md-7
          h2.featurette-heading
            | Berkeley's Star.
            br
            span.text-muted It'll blow your mind.
          p.lead 
            | Berkeley’s Star is the biggest singing competition at Berkeley’s most premier local venue, the Greek Theatre.
            | The live show will be held on October 30, 2014, where the 12 finalists will compete alongside 
            | guest performances from the judges, upcoming talent in the entertainment industry, and some of the most well 
            | known UC Berkeley student groups. The winner will be chosen by the audience and a panel of acclaimed individuals
            | from the music industry. The winner not only becomes Berkeley’s Star but also wins a 7-day cruise on Royal
            | Caribbean International’s Oasis or Allure of the Seas for two and a guaranteed audition in front of
            | RCI Entertainment Department.
        .col-md-5
          img.featurette-image.img-responsive(src='/images/greek-theater-day.jpg', alt='Generic placeholder image')
      hr.featurette-divider
      .row(id='auditions').featurette
        .col-md-5
          img.featurette-image.img-responsive(src='/images/brent2.jpg', alt='Generic placeholder image')
        .col-md-7
          h2.featurette-heading
            | Auditions.
            br
            span.text-muted Take the stage.
          p.lead Trying out is easy.
            ul.lead
              li Send a 90 second audition tape to bfreed@berkeley.edu by October 1st
              li Make sure to include your full name and contact information
              li 
                | If you get chosen to move onto the second round of auditions,
                | we will contact you in early October and those that make it past this stage will be competing in the Live competition. 
          p.lead
            | The most talented will be invited to audition again in front of a panel of judges.
            | From there, the top 24 performances will make it through the next round, where we will choose 12 finalists.
      hr.featurette-divider
      .row(id='philanthropy').featurette
        .col-md-7
          h2.featurette-heading
            | Boys & Girls Clubs
          p.lead
            | Phi Kappa Psi is honored to work alongside the Boys & Girls Clubs of Oakland to raise
            | money and awareness for a cause that so many people can connect to around the UC Berkeley campus.
            | The Boys & Girls Club is an amazing organization that works endlessly to
            | empower youth to be role models in their communities and be limited by nothing.
            | Channeling our creative ways of spreading message around campus, we have put on one
            | of the most dynamic and interactive philanthropy events of the year. While people may think
            | UC Berkeley students are only competent in the classroom, Berkeley’s Star provides a platform
            | for students to showcase their star talent. With all these new singing competitions, people
            | are more inspired than ever to be the next star. We are bringing this national movement towards
            | being the best singer to our school find Berkeley’s Star.  
        .col-md-5
          img.featurette-image.img-responsive(src='/images/bg_icon.jpg', alt='Generic placeholder image')
      hr.featurette-divider
      .row(id='acts').featurette
        .col-md-5
          img.featurette-image.img-responsive(src='/images/greek-theater-day.jpg', alt='Generic placeholder image')
        .col-md-7
          h2.featurette-heading
            | Great Guest Acts
          p.lead
            | Talk about all the cool performers we have
      hr.featurette-divider
      //
         /END THE FEATURETTES 
      //
         FOOTER 
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © 2014 Company, Inc. ·
          a(href='#') Privacy
          | ·
          a(href='#') Terms
    //
       /.container 
    //
       Bootstrap core JavaScript
          ================================================== 
    //
       Placed at the end of the document so the pages load faster 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
