doctype html
html
  head
    title Carousel Template for Bootstrap
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/carousel.css', rel='stylesheet')
  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Project name
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Home
                li
                  a(href='#about') About
                li
                  a(href='#contact') Contact
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Dropdown
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li.dropdown-header Nav header
                    li
                      a(href='#') Separated link
                    li
                      a(href='#') One more separated link
    //
       Carousel
          ================================================== 
    #myCarousel.carousel.slide(data-ride='carousel')
      //
         Indicators 
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
        li(data-target='#myCarousel', data-slide-to='3')
        li(data-target='#myCarousel', data-slide-to='4')
      .carousel-inner
        .item.active
          img(src='/images/berkeley_view.jpg', alt='First slide')
          .container
            .carousel-caption
              h1 First Slide here.
              p Test.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
        .item
          img(src='/images/sean_kingston.jpg', alt='Second slide')
          .container
            .carousel-caption
              h1 Sean Kingston will be here.
              p He could take ya there.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
        .item
          img(id='roy_car', src='/images/royal_car.jpg', alt='Third slide')
          .container
            .carousel-caption
              h1 The grand prize
              p Will be a free royal caribbean trip.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
        .item
          img(src='/images/greek.jpg', alt='Fourth slide')
          .container
            .carousel-caption
              h1 At the beautiful greek theater.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
        .item
          img(id='boys_and_girls_img', src='/images/boys-and-girls-club-logo.jpg', alt='Fifth slide')
          .container
            .carousel-caption
              div(id='boys_and_girls_font')
                h1 All Proceeds benefit the Boys and Girls Club of Oakland.
                p Phi Kappa Psi's semi-annual philanthropic event.
                p
                  a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
    //
       /.carousel 
    //
       Marketing messaging and featurettes
          ================================================== 
    //
       Wrap the rest of the page in another container to center all the content. 
    .container.marketing
      //
         Three columns of text below the carousel 
      .row
        .col-lg-4
          img.img-circle(src='/images/brent3.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 This is
          p
            | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
          p
            a.btn.btn-default(href='#', role='button') View details »
        //
           /.col-lg-4 
        .col-lg-4
          img.img-circle(src='/images/brent4.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 what you think
          p
            | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
          p
            a.btn.btn-default(href='#', role='button') View details »
        //
           /.col-lg-4 
        .col-lg-4
          img.img-circle(src='/images/brent6.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 it is.
          p
            | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          p
            a.btn.btn-default(href='#', role='button') View details »
        //
           /.col-lg-4 
      //
         /.row 
      //
         START THE FEATURETTES 
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | This site has been dedicated to Brent.
            span.text-muted It'll blow your mind.
          p.lead Fuck yes it's a green clip-on.
        .col-md-5
          img.featurette-image.img-responsive(src='/images/brent1.jpg', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='/images/brent2.jpg', alt='Generic placeholder image')
        .col-md-7
          h2.featurette-heading
            | Oh yeah, it's that good.
            span.text-muted See for yourself.
          p.lead You'll see.
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | And lastly, this one.
            span.text-muted Checkmate.
          p.lead Class has begun.
        .col-md-5
          img.featurette-image.img-responsive(src='/images/brent5.jpg', alt='Generic placeholder image')
      hr.featurette-divider
      //
         /END THE FEATURETTES 
      //
         FOOTER 
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © 2014 Company, Inc. ·
          a(href='#') Privacy
          | ·
          a(href='#') Terms
    //
       /.container 
    //
       Bootstrap core JavaScript
          ================================================== 
    //
       Placed at the end of the document so the pages load faster 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
