extends layout

block content
  .jumbotron
    .container
      h1 Sponsors & Partners
      p Without the help of our generous sponsors and partners, none of this would be possible!
      p
        a.btn.btn-primary.btn-lg(href='#become-a-sponsor', role='button') Become a Partner/Sponsor!
  .container#sponsors-container
    .page-header
      h1 Sponsors
    .row
      .col-lg-6
        a(href='http://www.phikappapsi.com/Home', target='_blank')
          .panel.panel-default
            .panel-heading
              h2.panel-title Phi Kappa Psi
            .panel-body.sponsor-panel
              img.sponsor-image(src='/images/phi-kappa-psi-logo.jpg')
      .col-lg-6
        a(href='http://www.royalcaribbean.com/', target='_blank')
          .panel.panel-default
            .panel-heading
              h2.panel-title Royal Caribbean
            .panel-body.sponsor-panel
              img.sponsor-image(src='/images/royal-caribbean-logo.jpg')
    .row
      .col-lg-6
        a(href='https://www.spotify.com/', target='_blank')
          .panel.panel-default
            .panel-heading
              h2.panel-title Spotify
            .panel-body.sponsor-panel
              img.sponsor-image(src='/images/spotify-logo.jpg')
      .col-lg-6
        a(href='http://www.buildpizzeria.com/', target='_blank')
          .panel.panel-default
            .panel-heading
              h2.panel-title Build Pizzeria
            .panel-body.sponsor-panel
              img.sponsor-image(src='/images/build-logo.jpg')
    .row
      .col-lg-6
        a(href='http://berkeley-underground.com/', target='_blank')
          .panel.panel-default
            .panel-heading
              h2.panel-title Underground Nightclub
            .panel-body.sponsor-panel
              img.sponsor-image(src='/images/underground-logo.jpg')
      .col-lg-6
        a(href='http://www.asuc.org/', target='_blank')
          .panel.panel-default
            .panel-heading
              h2.panel-title ASUC
            .panel-body.sponsor-panel
              img.sponsor-image(src='/images/asuc-logo.jpg')
    .row
      .col-lg-6
        a(href='http://www.pepsico.com/', target='_blank')
          .panel.panel-default
            .panel-heading
              h2.panel-title Pepsi
            .panel-body.sponsor-panel
              img.sponsor-image(src='/images/pepsi-logo.jpg')
    hr
    .page-header
      h1 Partners
    .row
      .col-lg-6
        a(href='http://www.copycentral.com/', target='_blank')
          .panel.panel-default
            .panel-heading
              h2.panel-title Copy Central: Official Printing Partner
            .panel-body.sponsor-panel
              img.sponsor-image(src='/images/copy-central-logo.png')
      .col-lg-6
        a(href='http://www.asuc.org/', target='_blank')
          .panel.panel-default
            .panel-heading
              h2.panel-title Hotel Shattuck Plaza: Official Hotel Partner
            .panel-body.sponsor-panel
              img.sponsor-image(src='/images/hotel-shattuck-logo.png')
    hr#become-a-sponsor
    .page-header
      h1 Become a Partner or Sponsor!
    br
    p 
      | Send an email to 
      a(href='mailto:official@berkeleystar.com') official@berkeleystar.com
      |  if you are interested in partnering with
      | or sponsoring Berkeley's Star!
    br