extends layout

block content
  .jumbotron
    .container
      h1 Berkeley's Star Staff
      p
        a.btn.btn-primary.btn-lg(href='#join-the-team', role='button') Join our Team!
  .container#staff-container
    .row
      .col-lg-6
        .panel.panel-default.staff-panel
          .panel-heading
            h2.panel-title Founder/Producer
          .panel-body
            p
              b Brent Freed
      .col-lg-6
        .panel.panel-default.staff-panel
          .panel-heading
            h2.panel-title Assistant Producer
          .panel-body
            p
              b Sahand Saberi
    .row
      .col-lg-6
        .panel.panel-default.staff-panel
          .panel-heading
            h2.panel-title Vocal Coaches
          .panel-body
            p
              b Grant Genske & CeAndra George
      .col-lg-6
        .panel.panel-default.staff-panel
          .panel-heading
            h2.panel-title Graphic Designer
          .panel-body
            p
              b Francisco Peralta
    .row
      .col-lg-6
        .panel.panel-default.staff-panel
          .panel-heading
            h2.panel-title Website Designer
          .panel-body
            p
              b Ryan Flynn
      .col-lg-6
        .panel.panel-default.staff-panel
          .panel-heading
            h2.panel-title Audio Visual
          .panel-body
            p
              b Light Matter Photography
    hr#join-the-team
    .page-header
      h1 Join the Berkeley's Star Team
    br
    p 
      | Send an email to 
      a(href='mailto:berkeleystarofficial@gmail.com') berkeleystarofficial@gmail.com
      |  if you are interested in joining the Berkeley's Star team!
    br