extends layout

block content
  .jumbotron
    .container
      h1 Berkeley's Star Staff
      p
        a.btn.btn-primary.btn-lg(href='#join-the-team', role='button') Join our Team!
  .container#staff-container
    .row
      .col-lg-6
        .panel.panel-default.staff-panel
          .panel-heading
            h2.panel-title Chairman
          .panel-body
            p
              b Brent Freed
            p
              b email
              | : bfreed@berkeleystar.com
      .col-lg-6
        .panel.panel-default.staff-panel
          .panel-heading
            h2.panel-title Production Team
          .panel-body
            p
              b Assistant Producer
              | : Kyle Joyner, 
              b email
              | : joyner.kyle2@gmail.com
            p
              b Assistant Producer
              | : Nathan Aminpour, 
              b email
              | : nathanaminpour@gmail.com
            p
              b Choreographer
              | : Paige Basconcillo
            p
              b Vocal Coaches
              | : Tom Reardon, Starr Saunders
            p
              b Accompanist
              | : Joe Simieli
    .row
      .col-lg-6
        .panel.panel-default.staff-panel
          .panel-heading
            h2.panel-title Audio Visual Team
          .panel-body
            p
              b Director
              | : Christian Collins, 
              b email
              | : christiancollins@berkeley.edu
            p
              b Staff
              | : Sam Skoller, Alvin Lin, Andrew Balcof
      .col-lg-6
        .panel.panel-default.staff-panel
          .panel-heading
            h2.panel-title Photography Team
          .panel-body
            p
              b Director
              | : Divya Thomas, 
              b email
              | : divya.thomas08@gmail.com
            p
              b Staff
              | : Brooke Carroll, Sam Cristol, Emily Nash
    .row
      .col-lg-6
        .panel.panel-default.staff-panel
          .panel-heading
            h2.panel-title Graphics Team
          .panel-body
            p
              b Director
              | : Francisco Peralta, 
              b email
              | : fperalta@berkeley.edu
            p
              b Program Designer
              | : Kyle Joyner
      .col-lg-6
        .panel.panel-default.staff-panel
          .panel-heading
            h2.panel-title Social Media Team
          .panel-body
            p
              b Director
              | : Nicole Katwan, 
              b email
              | : nkatwan@berkeley.edu
    hr#join-the-team
    .page-header
      h1 Join the Berkeley's Star Team
    br
    p 
      | Send an email to 
      a(href='mailto:official@berkeleystar.com') official@berkeleystar.com
      |  if you are interested in joining the Berkeley's Star team!
    br