doctype html
html
  head
    title Berkeley's Star
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/carousel.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='javascripts/berk-star.js')
  body
    .navbar-wrapper
      .container
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') Berkeley's Star
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li#home-nav
                  a(href='/') Home
                li#about-nav
                  a(href='/#about') About
                li#philanthropy-nav
                  a(href='/#philanthropy') Philanthropy
                li#acts-nav
                  a(href='/#acts') Special Guests
                li#top-12.active
                  a(href='/top-12') Top 12
                li#fund-me
                  a(href='http://www.facebook.com/l.php?u=http%3A%2F%2Fwww.gofundme.com%2Fhjzqm8&h=kAQFgyPqp', target='_blank') DONATE NOW
                li#tickets-nav
                  a(href='https://commerce.cpsma.berkeley.edu/Tickets/calendar/index.aspx', target='_blank') TICKETS
              ul.nav.navbar-nav.navbar-right
                li
                  a.social-link(href='https://www.facebook.com/events/569750673151001/', target='_blank')
                    img.img-rounded.social-icon(src='/images/facebook-icon.png')
                li
                  a.social-link(href='https://www.instagram.com/berkeleystarofficial', target='_blank')
                    img.img-rounded.social-icon(src='/images/instagram-icon.png')
                li
                  a.social-link(href='https://www.twitter.com/berkeleys_star', target='_blank')
                    img.img-rounded.social-icon(src='/images/twitter-icon.png')
    .jumbotron
      .container
        h1 Berkeley's Star Top 12
        p
          | After three rounds of extremely competitive auditions, these twelve individuals are your Berkeley's Star 2014 Top 12! Come support them because your vote determines the winner.
    .container.marketing
      .row#contestant-1.featurette
        .col-md-6
          h2.featurette-heading
            | Tati Bedi
          br
          p.lead
            | Tati was born and raised in Santa Monica, California. Her grandfather, being a singer/songwriter in the 1960s, helped shape her musical beginnings as a child. Tati started in her school choir and eventually made her way to being a section leader and president of her high school a cappella group. Since the sixth grade, Tati has been a member of The Boys & Girls Clubs, and is working and volunteering in various after-school programs, which she continues to partake in here at Berkeley. She is thankful for the support from her friends and family, her sisters in Delta Gamma, and her choir director from high school, especially in her musical endeavors. 
        .col-md-1
        .col-md-5
          img.featurette-image.img-responsive(src='/images/Tati.jpg', alt='Contestant #1 Image')
      hr.featurette-divider
      .row#contestant-2.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='/images/Angelene.jpg', alt='Contestant #2 Image')
        .col-md-1
        .col-md-6 
          h2.featurette-heading
            | Angelene Superable
          br
          p.lead
            | Angelene Superable is a sophomore Political Science major hailing from good ole' Houston, Texas. She is beyond grateful to Brent Freed and the brothers of Phi Psi for this opportunity. Angelene appeared in over 26 theatre performances and musicals during her high school career, in which she carried several lead roles. Angelene has academic passions in both social justice and human rights, and aspires one day to become a Supreme Court Justice. When she isn't singing, you can catch her scrolling through puppy pictures on BuzzFeed or sharing thought-provoking (and probably feminist) articles on Facebook. Angelene would love to thank her parents, Angel and Arlene Superable, for their continual support, and for raising her to question everything unapologetic-ally and with conviction. She is forever indebted to her sisters in Alpha Omicron Pi who constantly challenge her to be a better person than she was the day before. Finally, Angelene would like to dedicate her performance to her guardian angel and late grandmother, Angelina Superable, who reminds her daily that no dream is too big and no dreamer is too small.
      hr.featurette-divider
      .row#contestant-3.featurette
        .col-md-6
          h2.featurette-heading
            | Kate Gibson
          br
          p.lead
            | Kate is a freshman from Austin, Texas who plans to major in Political Science, but ask her again next semester. At Berkeley, she is a member of Drawn to Scale (a cappella), Theater for Charity, and Sigma Kappa. She loves learning foreign languages, including Spanish, Mandarin, Hindi, and Swedish, and she hopes to travel the world someday! She's a total musical theater dork and two of her favorite roles were in You're A Good Man, Charlie Brown (Lucy), and Beauty and the Beast (Ms Potts). She enjoys doing yoga mediocrely, playing the ukulele badly, and dancing awkwardly. Her favorite dinosaur is the parasaurolophus. She would like to thank her cat Queenie, her parents, and all da tru homies for being generally fantastic. She also thanks her brother Stevie for making her a stronger person by always forgetting her birthday. 
        .col-md-1
        .col-md-5
          img.featurette-image.img-responsive(src='/images/Kate.jpg', alt='Contestant #3 Image')
      hr.featurette-divider
      .row#contestant-4.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='/images/Jenny.jpg', alt='Contestant #4 Image')
        .col-md-1
        .col-md-6 
          h2.featurette-heading
            | Jenny Chen
          br
          p.lead
            | Jenny is a senior IB major at UC Berkeley. Her principle musical project over the years has been the duo Rare Candy, with instrumentalist Somin Lim. With Rare Candy Jenny has performed at many locations in the Bay Area, including AT&T Park, local cafés and East Bay bars. Jenny would like to thank her promotional and recording representatives TSA, Albert Shih, Tiffany Sam, Kenny Lin, and Tiffany Shiau. She also thanks Kenny Song and her longtime singing buddy Andre. 
      hr.featurette-divider
      .row#contestant-5.featurette
        .col-md-6
          h2.featurette-heading
            | Ariana Shakibnia
          br
          p.lead
            | Ariana is a second year, intended Public Health major, and double minor in Theatre and Public Policy.  She is thrilled to be a part of Berkeley's Star and is immensely grateful for this opportunity to sing in front of people other than her roommates, (shoutout to Ballroom).  These are a few of her favorite things:  This American Life, dachshunds, reading, hiking, coffee, Kevin Spacey, Red Hot Chili Peppers, and bikini shirts.  Thanks to Brent and the brothers of Phi Kappa Psi for all of the love and hard work that's been invested into this incredible event!  Love to Mom, Dad, Alex, Em, and Hunty. "Goonies never say die."
        .col-md-1
        .col-md-5
          img.featurette-image.img-responsive(src='/images/Ariana.jpg', alt='Contestant #5 Image')
      hr.featurette-divider
      .row#contestant-6.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='/images/NickM.jpg', alt='Contestant #6 Image')
        .col-md-1
        .col-md-6 
          h2.featurette-heading
            | Nick Martin
          br
          p.lead
            | Nick is a 19-year-old singer-songwriter from San Francisco, California. After finishing high school at Idyllwild Arts Academy, Nick decided to try and balance his music career with his academic endeavors. Currently, he is pursuing a degree in Legal Studies, while simultaneously working on a record deal for his music. Nick would like to thank his family, friends, and teachers who have given him immense support and strength. 
      hr.featurette-divider
      .row#contestant-7.featurette
        .col-md-6
          h2.featurette-heading
            | Loraine Corona
          br
          p.lead
            | Loraine is a junior transfer student at Cal who has lifelong experience in musical theatre, acting and singing.  In her spare time, she enjoys spending quality time with friends and family.  Loraine is incredibly excited to be participating in the premier year of Berkeley’s Star and cannot wait to share her heart and soul on stage with the other extremely talented contestants.  She would like to give a huge thanks to Brent Freed, her wonderful family for their never ending love and support, and her amazing friends for listening to her sing every second of the day.  A very special thank you goes out to her Grandpa, who is her best friend and has always encouraged her to always do her best and follow her dreams.  God Bless and thanks for supporting the Boys & Girls Clubs of Oakland.
        .col-md-1
        .col-md-5
          img.featurette-image.img-responsive(src='/images/Loraine.jpg', alt='Contestant #7 Image')
      hr.featurette-divider
      .row#contestant-8.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='/images/Sanjeev.jpg', alt='Contestant #8 Image')
        .col-md-1
        .col-md-6 
          h2.featurette-heading
            | Sanjeev Suresh
          br
          p.lead
            | Sanjeev is second year EECS major who began his guitar playing and singing journey during the summer after his junior year of high school. The audience reactions that he received after performing at a small talent show convinced him that singing and playing guitar were talents that he should not ignore. He is a pinch of a perfectionist, so his hobbies generally turn into obsessions. In his spare time, he programs (he wrote a program that finds guitar voicings for him), writes songs, reads philosophy, and contributes to Berkeley Investment Group. Sanjeev would like to give a special thanks to Rose, for bringing auditions to his attention, and Brent Freed for pioneering this surreal opportunity. He is indebted to his family and close friends for the kindness and unflinching support he receives, and he is unaware of what he’s done to deserve such a beautiful thing. 
      hr.featurette-divider
      .row#contestant-9.featurette
        .col-md-6
          h2.featurette-heading
            | Grant Genske
          br
          p.lead
            | Grant is a senior at Cal majoring in Media Studies and Mass Communications. As a student senator in the ASUC, director of entertainment for CalTV, and a former manager of the UC Men’s Octet, you could say he has a real affinity for Berkeley’s music traditions and spirit. When he isn’t singing, Grant enjoys Cheeseboard pizza, coffee from Strada, and the scenic serenity of 4.0 hill. Grant would like to thank a number of people for all that they have done in helping him reach this point. Special thanks go to Alexis, Will, John, Mom, Dad and Liza for providing strength and support every step of the way. Thank you to Yevgeniy Pilipovskiy for being the most caring, forgiving and incredible boyfriend one could ask for. Last but not least, a special thanks to the past and present members of the UC Men’s Octet for always keeping that “GO BEARS!” spirit.
        .col-md-1
        .col-md-5
          img.featurette-image.img-responsive(src='/images/Grant.jpg', alt='Contestant #9 Image')
      hr.featurette-divider
      .row#contestant-10.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='/images/Joban.jpg', alt='Contestant #10 Image')
        .col-md-1
        .col-md-6 
          h2.featurette-heading
            | Joban Gill
          br
          p.lead
            | Joban is a first year student at Cal, originally from the small town of Redding, California.  She plans to make the most out of her time here at Cal, aspiring to earn a dual degree in Business Administration and Swag.  She has taken part in lead roles in various high school musicals in addition to winning several local talent shows and competitions.  Apart from singing, Joban enjoys songwriting, traveling, volunteering as an EMT, eating delicious food, and watching reruns of Psych.  Being one of the amazingly talented top 12 finalists has definitely been a highlight in her college career so far.  She’d love to thank the Phi Kappa Psi Fraternity for this amazing opportunity and her friends and family for listening to her sing at the top of her lungs for the past 18 years.  She feels extremely lucky to be part of something that can make such a difference to the Boys & Girls Clubs of Oakland and can’t wait to share her passion for singing with everyone.
      hr.featurette-divider
      .row#contestant-11.featurette
        .col-md-6
          h2.featurette-heading
            | Freshta Atiqi
          br
          p.lead
            | Freshta is a senior at Cal double majoring in Psychology and Anthropology. She is currently a research assistant at the UCB Intuition Lab and also works with special needs autistic children. Academics aside, Freshta is very passionate about music and is the music manager for the California Golden Overtones. For someone who is barely 5 feet tall, Freshta has a very big voice. She often spends a little too much time in the bathroom practicing her singing, much to the enjoyment of her roommates. In her free time, Freshta likes to watch Law and Order SVU, get boba with friends, and play with her rabbit Tinkerbell who just turned 3. She would like to thank misther, misther bear, her beautiful parents, her talented friends, her encouraging teachers, her Wells team, DTS, Jackie Chan and Ms.Hepburn, Boren, the soccer pro, and the biggest burry, for all their support throughout her musical journey.
        .col-md-1
        .col-md-5
          img.featurette-image.img-responsive(src='/images/Freshta.jpg', alt='Contestant #11 Image')
      hr.featurette-divider
      .row#contestant-12.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='/images/Onye.jpg', alt='Contestant #12 Image')
        .col-md-1
        .col-md-6 
          h2.featurette-heading
            | Onye Ohiaeri
          br
          p.lead
            | Onye Ohiaeri was born to a doctor and  nurse named Benjamin and Francesca in the large city of Lagos Nigeria.  He grew up with three older siblings.  One brother Akwi, and two sisters Obi and Ije.  His American international high school helped him make amazing friends, amazing memories, and receive a great education, finally culminating to this very moment here at the University of California, Berkeley.  Onye at first wanted to try out for the club soccer team, but soon realized that it might be a distraction from earning good grades at a pretty tough school.  The funny part is that a week after this decision, he joined a fraternity!  Though he has many great friends at his fraternity, he still continues to become acquainted with the many awesome people that this campus and the bay area have to offer.  He would like to thank his family for supporting him and his brothers for coming out tonight and showing some love.
      hr.featurette-divider
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | Berkeley's Star 2014

    script(src='/bootstrap/js/bootstrap.min.js')
