doctype html
html
  head
    title Berkeley's Star
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/carousel.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='javascripts/berk-star.js')
  body
    .navbar-wrapper
      .container
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') Berkeley's Star
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li#home-nav
                  a(href='/') Home
                li#about-nav
                  a(href='/#about') About
                li#philanthropy-nav
                  a(href='/#philanthropy') Philanthropy
                li#acts-nav
                  a(href='/#acts') Special Guests
                li#top-12
                  a(href='/top-12') Top 12
                li#tickets-nav
                  a(href='https://commerce.cpsma.berkeley.edu/Tickets/calendar/index.aspx', target='_blank') TICKETS
              ul.nav.navbar-nav.navbar-right
                li
                  a#fb-link(href='https://www.facebook.com/events/569750673151001/', target='_blank')
                    img.img-rounded#fb-icon(src='/images/facebook-icon.png')
    .jumbotron
      .container
        h1 Berkeley's Star Top 12
        p
          | Fill in description here
    .container.marketing
      .row#contestant-1.featurette
        .col-md-6
          h2.featurette-heading
            | Contestant #1
          br
          p.lead
            | Contestant #1 Description
        .col-md-1
        .col-md-5
          img.featurette-image.img-responsive(src='', alt='Contestant #1 Image')
      hr.featurette-divider
      .row#contestant-2.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='', alt='Contestant #2 Image')
        .col-md-1
        .col-md-6 
          h2.featurette-heading
            | Contestant #2
          br
          p.lead
            | Contestant #2 Description
      hr.featurette-divider
      .row#contestant-3.featurette
        .col-md-6
          h2.featurette-heading
            | Contestant #3
          br
          p.lead
            | Contestant #3 Description
        .col-md-1
        .col-md-5
          img.featurette-image.img-responsive(src='', alt='Contestant #3 Image')
      hr.featurette-divider
      .row#contestant-4.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='', alt='Contestant #4 Image')
        .col-md-1
        .col-md-6 
          h2.featurette-heading
            | Contestant #4
          br
          p.lead
            | Contestant #4 Description
      hr.featurette-divider
      .row#contestant-5.featurette
        .col-md-6
          h2.featurette-heading
            | Contestant #5
          br
          p.lead
            | Contestant #5 Description
        .col-md-1
        .col-md-5
          img.featurette-image.img-responsive(src='', alt='Contestant #5 Image')
      hr.featurette-divider
      .row#contestant-6.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='', alt='Contestant #6 Image')
        .col-md-1
        .col-md-6 
          h2.featurette-heading
            | Contestant #6
          br
          p.lead
            | Contestant #6 Description
      hr.featurette-divider
      .row#contestant-7.featurette
        .col-md-6
          h2.featurette-heading
            | Contestant #7
          br
          p.lead
            | Contestant #7 Description
        .col-md-1
        .col-md-5
          img.featurette-image.img-responsive(src='', alt='Contestant #7 Image')
      hr.featurette-divider
      .row#contestant-8.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='', alt='Contestant #8 Image')
        .col-md-1
        .col-md-6 
          h2.featurette-heading
            | Contestant #8
          br
          p.lead
            | Contestant #8 Description
      hr.featurette-divider
      .row#contestant-9.featurette
        .col-md-6
          h2.featurette-heading
            | Contestant #9
          br
          p.lead
            | Contestant #9 Description
        .col-md-1
        .col-md-5
          img.featurette-image.img-responsive(src='', alt='Contestant #9 Image')
      hr.featurette-divider
      .row#contestant-10.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='', alt='Contestant #10 Image')
        .col-md-1
        .col-md-6 
          h2.featurette-heading
            | Contestant #10
          br
          p.lead
            | Contestant #10 Description
      hr.featurette-divider
      .row#contestant-11.featurette
        .col-md-6
          h2.featurette-heading
            | Contestant #11
          br
          p.lead
            | Contestant #11 Description
        .col-md-1
        .col-md-5
          img.featurette-image.img-responsive(src='', alt='Contestant #11 Image')
      hr.featurette-divider
      .row#contestant-12.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='', alt='Contestant #12 Image')
        .col-md-1
        .col-md-6 
          h2.featurette-heading
            | Contestant #12
          br
          p.lead
            | Contestant #12 Description
      hr.featurette-divider
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | Berkeley's Star 2014

    script(src='/bootstrap/js/bootstrap.min.js')
